 
body {
    background: linear-gradient(to bottom right, #7e6c8a, #564d6e, #a18eb2, #866c9e); 
    margin: 0;
    padding: 0; 
    color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}



header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 1px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
        font-family: "Suez One", serif;
        font-weight: 100;
        font-style:unset;
}

h2 {
    font-size: 32px;
}

#justs {
    padding-top: 13px;
}

#subtitle {
    margin-left: 10px; 
}

#titlepar {
    text-align: center;
}

#examples {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px;
}

footer {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 80px;
}

#midtext {
    text-align: center;
}

a {
    color: #fff;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

hr {
    border-color: #7e6c8a; /* Sets the border color to red */
}

h1{
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
}


#logo, #windows {
    width: 50px; /* Adjusted for consistency */
    height: 50px; /* Maintain aspect ratio */
}
#virustotal{
    width: 100px; /* Adjusted for consistency */
    height: 50px; /* Maintain aspect ratio */
}

.desc, .center, #vidExample {
    text-align: center;
    margin-right: -35px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    h2, #titlepar h1, .desc p, #midtext {
        font-size: 20px; /* Adjust based on preference for smaller screens */
    }

    #examples, footer {
        flex-direction: column;
        gap: 20px;
    }

    .logos img {
        width: 30px; /* Smaller logos for smaller screens */
    }

    #examples {
        gap: 10px;
    }

    .logos {
        gap: 15px; /* Less space between logo and text */
    }
    .softwareImg{
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 480px) {
    body, #titlepar, #examples, footer, .desc, #vidExample {
        padding: 0 10px; /* Adds padding on smaller screens */
    }

    h2, #titlepar h1, .desc p, #midtext, #vidExample {
        font-size: 18px; /* Even smaller font sizes for very small devices */
    }

    header, footer {
        flex-direction: column;
        align-items: center; /* Center content in header and footer on small screens */
    }

    #logo, #virustotal, #windows {
        width: 25px; /* Even smaller logos for very small screens */
    }
}
