body {
    background: linear-gradient(to bottom right, #7e6c8a, #564d6e, #a18eb2, #866c9e); 
    margin: 0;
    padding: 0; 
    color: white;
}
header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 1px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
}

h2{
    font-size: 32px;
}

#justs{
    padding-top: 13px;
}

#smalltext {
    font-size: 14px; /* Adjust the font size as needed */
}


#subtitle {
    margin-left: 10px; 
}

#titlepar{
    text-align: center;
}
#examples{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px;
}

footer{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 80px;
}
#midtext{
    text-align: center;
}

a {
    color: #fff;
}
.logos {
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Centers items horizontally */
    text-align: center; /* Ensures the text inside the <p> is centered as well */
}

#logo {
    width: 40px;
    height: 40px;
}
#virustotal{
    width: 80px;
    height: 40px;
}

#windows{
    width: 80px;
    height: 40px;
}
.desc{
    text-align: center;
}
.center
{
 text-align: center;
 list-style-position: inside;
}
ol.center li
{
 text-align: center;
 margin-right: -35px;
}